@import url('https://fonts.googleapis.com/css2?family=DM+Mono:100,200,300,40,500,600,700,800|ROBOTO+MONO:100,200,300,40,500,600,700,800|OpenSans:100,200,300,400,500,600,700,800|Dancing+Script:100,200,300,400,500,600,700,800');

/*code to stop default styling in the body tag*/


.main-body{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    font-family: 'DM+MONO', sans-serif;
    
}

/*header*/

.header {
  padding: 10px;
  text-align: center;
  background: #508d80;
  color: white;
  font-size: 12px;
  font-family: 'DM+Mono';
}

.name {
    font-family: 'DM+MONO';
    font-weight: 100;
    font-size:20px;
    color: #C5B358;
}

.job-title {
    font-family: 'DM+MONO';
    font-weight: 100;
    font-size: 18px;
    color: #C5B358;
}


/*TO ADD DIFFERENT SIZED WORDS YOU COULD USE SPAN THIS VIDEO SHOWS HOW TO DO IT AND THE RST OF THE NAVBAR https://www.youtube.com/watch?v=GxwHXxumdQk */
.logo_container h1{
    color: rgb(243, 250, 249);
    height: 100%;
    float: left;
    display:table-cell;
    vertical-align: middle;
    font-family: 'DM+Mono';
    font-size: 16px;
}


nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(65, 131, 128);
  
}

nav li {
  display:inline-block;
}

nav li a {
  display: block;
  color: #C5B358;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'DM+Mono';
}

nav li a:hover {
  background-color: rgb(125, 194, 159);
  color: rgb(8, 175, 167);
}

/*main container on home page*/

.main-container-home-page{
   background: url(../images/pose2.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.home-page-title {
  display:flex;
  align-items: center;
  justify-content:center;
    font-family: 'Roboto Mono';
     text-align: center;
     font-size: 38px;
      color: rgb(201, 199, 192);
}

.home-page-description {

      display:flex;
  align-items: center;
  justify-content:center;
    font-family: 'Roboto Mono';
    font-style: italic;
     text-align: center;
     font-size: 28px;
      color: rgb(201, 199, 192);
      bottom: 0px;

}

 /**************************main container on About page*****************/

 .main-container-about-page{
   background: url(../images/sea-background.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
}



.about-section-schedule-and-services{
      position: absolute;
    top: 20%;
  left: 16px;
  margin:auto;
  height:33%;
  clear:both;
  width:100%;
  padding:20px;
   float:left;
   display: flex;
  justify-content: space-between;

 }

/*.about-section-schedule-and-services-image  {
float: right;    
 margin: 0 0 0 15px;
}*//*************************************Comented out because it didn't work here is the instructions 
https://www.hostpapa.co.uk/knowledgebase/align-float-images-website/   */



  .about-section-Tammys-training{
     position: absolute;
    top: 60%;
  left: 16px;
  margin:auto;
  height:33%;
  clear:both;
  width:100%;
  padding:20px;
   float:left;
   display: flex;
  justify-content: space-between;
 }

 .about-section-testimonials{
     position: absolute;
    top: 100%;
  left: 16px;
  margin:auto;
  height:33%;
  clear:both;
  width:100%;
  padding:20px;
   float:left;
   display: flex;
  justify-content: space-between;
  
 }
 
 
 .headings-about-page{
      font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: rgb(42, 43, 46);

 }

 .paragraphs-about-page {
     font-family: "Roboto Mono";
     font-weight: 100;
     font-size: 24px;
     font-style: italic;
     text-align:justify;
     color: rgb(42, 43, 46);

 }

 /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */

 @media screen and (max-width: 800px) {
 .paragraphs-about-page {
    font-size: 10px;
  }
@media screen and (min-width: 601px) {
.paragraphs-about-page {
    font-size: 24px;
  }
}

}

/**************************Contact page************************************************************/

.main-container-contact-page{
   background: url(../images/sea-background.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
}

.contact-page-description{
display:flex;
  align-items: center;
  justify-content:center;
    font-family: 'Roboto Mono';
    font-style: italic;
     text-align: center;
     font-size: 28px;
      color: rgb(41, 40, 36);
      bottom: 0px;

}


 /**************************practice for text and image divs************************************************************/
.text-image-container {
    width:600px;
    float:left;
    color: rgb(125, 194, 159)
}

.left-text {
    box-sizing:border-box;
    width:400px;
    height:200px;
    float:left;
    text-align:center;
    display:flex;
    flex:1 1 0;
    justify-content:center;
    align-items:center;
    padding:10px;
   
}
.right-image {
    box-sizing:border-box;
    width:200px;
    float:left;
   
}
.right img {
    width:200px;
    height:200px;
    
}



 /**************************this part gets the footer to stay at the bottm of the page************************************************************/

.container1 {
  display: flex;
  flex-direction: column;
  height: 120vh;          /*****************************this makes the window bigger so more content can fit on a page*******************************/
}


footer {
  min-height: 100px;
  flex-shrink: 0;
  background-color: #508d80;
   color: #C5B358;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'DM+Mono';
  margin:0;
}

/*****Style for the footer facebook icon*****/
.fab{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background-color: #508d80;

}

/**********Hover for the footer facebook icon****/
.fab:hover {
  opacity: 0.7;
}

main {
  flex: 1 0 auto;
}



/***********************************************************************************************************************************************/