@import url('https://fonts.googleapis.com/css2?family=DM+Mono:100,200,300,40,500,600,700,800|OpenSans:100,200,300,400,500,600,700,800');

/*code to stop default styling, it is a wildcard so will apply to everything*/

*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
}

/*header*/

.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 6px;
  font-family: 'DM+Mono';
}


/*TO ADD DIFFERENT SIZED WORDS USE SPAN THIS VIDEO SHOWS HOW TO DO IT AND THE RST OF THE NAVBAR https://www.youtube.com/watch?v=GxwHXxumdQk */
.logo_container h1{
    color: rgb(243, 250, 249);
    height: 100%;
    float: left;
    display:table-cell;
    vertical-align: middle;
    font-family: 'DM+Mono';
    font-size: 12px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(8, 175, 167);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'DM+Mono';
}

li a:hover {
  background-color: rgb(164, 157, 231);


/*trying to get an image to cover the whole of this section..unsucessfully :(*/
.section {
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  object-fit: contain;
}


}
.container1 {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle }



 /**************************this part gets the footer to stay at the bottm of the page************************************************************/
.container1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


footer {
  height: 50px;
  flex-shrink: 0;
  background-color: #1abc9c;
   color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'DM+Mono';
}

main {
  flex: 1 0 auto;
}

/***********************************************************************************************************************************************/